Repository Juniper/contrail-dev-env: changes, and which Zuul jobs are due for each by the changed paths.
All: test-dev-env, noop

test-dev-env:
  description: 'Test job for contrail-dev-env.
  
    Runs a set of steps to build RPMs and containers.
  
    '
  parent: dev-env-base
  run: playbooks/test-dev-env/run

Remove jobs from the repository
  .zuul.yaml
  playbooks/dev-env-base/pre.yaml
  playbooks/publish-dev-env/run.yaml
  playbooks/test-dev-env/run.yaml
  roles/build-dev-env/defaults/main.yaml
  roles/build-dev-env/tasks/main.yaml
  roles/test-dev-env/defaults/main.yaml
  roles/test-dev-env/tasks/docker_exec.yaml
  roles/test-dev-env/tasks/main.yaml
Due: test-dev-env

Re-enable jobs for dev-env
  .zuul.yaml
Due: test-dev-env

Test review
  startup.sh
Due: test-dev-env

add repo contrail-deployers-containers to contrail-dev-env
  Makefile
  README.md
  scripts/build-deployers.sh
  scripts/prepare-deployers.sh
Due: test-dev-env, noop

DNM: test zuul-jobs
  DNM
Due: test-dev-env

Allow to define port and ip for registry from calling script
  startup.sh
Due: test-dev-env

Update README.md
  README.md
Due: noop

[DNM] Dummy review to debug dev-env
  test
Due: test-dev-env

Update manual build section in dev-env doc
  README.md
Due: noop

Update README.md with some more usage instructions
  README.md
Due: noop

Change Launchpad mentions to JIRA
  README.md
Due: noop

Use tungstenfabric repos to build dev-env
  container/Dockerfile
Due: test-dev-env

doc readability of README.md for newcomers
  README.md
Due: noop

Add python36 to dev env
  container/Dockerfile
Due: test-dev-env

Add python36 to dev env
  Makefile
  container/Dockerfile
Due: test-dev-env

Adding R5.1 branch to CI Closes-Jira-Bug: CEM-5052
  .gitreview
Due: test-dev-env

Adding R1907 branch to CI Closes-Jira-Bug: CEM-6096
  .gitreview
Due: test-dev-env

Install latest version of git-review package
  container/Dockerfile
Due: test-dev-env

Path conditions:
  test-dev-env: unless all of: README.md
  noop: any of: README.md
